<div id="department-form-modal" class="modal">
    <div class="modal-content">
            <h2>Department Details</h2>
            <form id="department-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="department-name" class="form-control" placeholder="Enter Department Name" required>
                </div>
                
                <div class="submit-btn-group">
                    <button type="submit" id="btn-department-submit" class="btn-submit">Submit</button>
                    <button type="submit" id="btn-department-update" class="btn-update">Update</button>
                </div>

            </form>
    </div>
</div>