<div id="employee-form-modal" class="modal">
    <div class="modal-content">
        <h2>Employee Details</h2>
        <form id="employee-form" class="grid-form">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" placeholder="Enter First Name" required>
            </div>
            
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" class="form-control" placeholder="Enter Last Name" required>
            </div>
            
            <div class="form-group">
                <label for="department">Department</label>
                <select id="department" class="form-control" required>
                    <option value="">Select Department</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" class="form-control" placeholder="Enter Email Address">
            </div>

            <div class="submit-btn-group">
                <button type="submit" id="btn-employee-submit" class="btn-submit">Submit</button>
                <button type="submit" id="btn-employee-update" class="btn-update">Update</button>
            </div>

        </form>
    </div>
</div>
