<div class="padded-div">
    <div class="flex-container">
        <div class="options-group">
            <label for="tables" class="bold-label large-text">Choose a table:</label>
            <select name="" id="tables" class="large-text">
                <option value="employee">Employee Table</option>
                <option value="department">Department Table</option>
            </select>
        </div>
        <div>
            <button id="addButton" class="add-button">Add</button>
        </div>
    </div>
</div>